@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.currentWeather {
    margin: 0;
    padding: 10px;
    padding-bottom: 25px;
}
.icon {
    width: 110px;
    height: auto;
    margin: 0;
    padding: 0
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 15px 0;
    padding: 0;
    text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
    .icon {
        width: 140px;
        height: auto;
    }
}