.cardsContainer {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 10px 20px;
    margin: 0 auto;
}

.weatherCard {
    font-size: 17px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 200px;
    height: 300px;
    padding: 5px;
    padding-top: 13px;
    /* border: 1px solid #000; */
    background-color: rgba(255, 255, 224, 0.363);
    border-radius: 7px;
}

.weatherCard h3,
.weatherCard p {
    margin: 3px;
    padding: 0
}

.weatherCard .icon {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
    .weatherCard {
        height: 370px; 
    }
}
@media (max-width: 700px) {
    .cardsContainer {
        flex-direction: column;
        align-items: center;
    }
    .weatherCard {
        width: 300px;
        height: 310px;
        margin-bottom: 15px;
    }
}
@media (max-width: 600px) {
    .weatherCard {
        width: 250px;
        height: 310px;
    }
}

