.weatherContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
p {
    margin: 0;
    padding: 5px;
}
.weatherBox {
    font-size: 17px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    min-width: 145px;
    padding: 0
}
.weatherBoxTemperature {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 26px;
}
.weatherData {
    font-size: 17.5px;
    display: flex;
    justify-content: flex;
    flex-direction: column;
}
.maxTemp {
    color: #777;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
    .weatherContainer {
        width: 75%;
    }
}
@media (max-width: 600px) {
    .weatherContainer {
        flex-direction: column;
    }
    .weatherBox {
        margin-bottom: 30px;
    }
    .weatherData {
        font-size: 16px;
    }
}
@media (min-width: 950px) {
    .weatherContainer {
        width: 50%;
    }
    .weatherData {
        font-size: 18px;
    }
}